{% extends 'index.html' %}

{% block content %}

<div style="display: flex;justify-content: space-between;">
    <h3 class="text-start ms-4 h5 mb-3 mt-1">Ajustar estimativas</h3>
    <a class="btn-close" href="{{ url_for('estimate.render_nature_list', id_control=id_control) }}"></a>
</div>

{% for form in forms %}
<form>
    <div class="col-11 form-floating mb-3 mx-auto"
        style="display: flex;justify-content: space-around;align-items: center;">
        {{ form.hidden_tag() }}
        {{ form.id_estimate }}
        {{ form.value_nature(class='form-control me-2', id="floatingNature", placeholder="450.50") }}
        {{ form.value_nature.label(for="floatingNature") }}
        <button hx-post="{{ url_for('estimate.adjust_estimate', id_control=id_control) }}" hx-target="#modal-content"
            class="btn btn-primary bi bi-check me-2" style="height: 50%;">
        </button>
    </div>
</form>
{% endfor %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success alert-dismissible fade show col-10 mx-auto" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
{% endwith %}

<div class="col-11 mx-auto" style="display: flex;justify-content: space-between;">
    <a 
        href="{{ url_for('nature.list_natures') }}" 
        class="btn btn-primary col-6">
        Gerenciar Naturezas
    </a>
    <a 
        class="btn btn-secondary col-4" 
        href="{{ url_for('estimate.render_nature_list', id_control=id_control) }}">
        Fechar
    </a>
</div>

{% endblock %}