{% extends 'index.html' %}

{% block content %}

    <div id="div-form-register" class="container">

        <div class="row mt-4">
            <h3>Registre-se</h3>
        </div>

        <form
        hx-post="{{ url_for('user.register_user') }}" 
        id="register_user_form"
        class="row mt-4 p-4 rounde border shadow"
        hx-target="#div-form-register">
            {{ form.csrf_token }}

            {{ form.name.label() }}
            {{ form.name(class='form-control') }}

            {{ form.email.label() }}
            {{ form.email(class='form-control') }}

            {{ form.password.label() }}
            {{ form.password(class='form-control') }}

            {{ form.confirm_password.label() }}
            {{ form.confirm_password(class='form-control') }}

            {{ form.btn_submit(class='btn btn-primary col-12 mt-3') }}
        </form>
    </div>

{% endblock %}