<div class="modal-header">
    <h5 class="modal-title">
        {% if nature %}
        Editar Natureza
        {% else %}
        Cadastrar Natureza
        {% endif %}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<form
    hx-target="#nature-list"
    hx-swap="outerHTML"
    {% if nature %}
        hx-put="{{ url_for('nature.update_nature', id_nature=nature.id) }}"
    {% else %}
        hx-post="{{ url_for('nature.render_form') }}"
    {% endif %}>
    {{ form.csrf_token }}

    {% if nature %}
    {{form.id(value=nature.id)}}
    {% endif %}

    <div class="col-11 form-floating mb-3 mx-auto">
        {{ form.name(class='form-control', id="floatingNature", placeholder="Manutenção", value=nature.name_nature if nature else '') }}
        {{ form.name.label(for="floatingNature") }}
    </div>

    <div class="col-11 form-floating mb-3 mx-auto">
        {{ form.description(class='form-control', id="floatingDescription", placeholder="Descrição de teste", value=nature.description_nature if nature else '') }}
        {{ form.description.label(for="floatingDescription") }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            {% if nature %}
                Salvar
            {% else %}    
                Cadastrar
            {% endif %}
        </button>
    </div>
</form>