<div class="modal-header">
    <h5 class="modal-title">Deletar natureza</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="mt-3 mb-3">
    Deseja excluir permanentemente a natureza {{ nature.name }}?
</div>

<div class="modal-footer">
    <button 
        class="btn btn-danger"
        hx-delete="{{ url_for('nature.delete_nature', id_nature=nature.id) }}"
        hx-target="#nature-list"
        hx-swap="outerHTML"
        data-bs-dismiss="modal">
        Excluir
    </button>
    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
</div>