{% extends 'index.html' %}

{% block content %}

<div class="container">

    <div class="row col-12 col-md-4 col-lg-4 p-2 rounde border shadow">
        <h3 class="text-start ms-4 h5 mb-3 mt-1">Lista de Naturezas</h3>
        {% for form in forms %}
        <form action="{{ url_for('estimate.render_estimate') }}" method="post">
            <div class="col-11 form-floating mb-3 mx-auto" style="display: flex;justify-content: space-around;align-items: center;">
                {{ form.value_nature(class='form-control me-2', id="floatingNature-{{ nature.id }}", placeholder="450.50") }}
                {{ form.value_nature.label(for="floatingNature-{{ nature.id }}") }}
                <button type="submit" class="btn btn-primary bi bi-check me-2" style="height: 50%;" ></button>
                <a href="{{ url_for('home.render_home') }}" class="btn btn-danger bi bi-x-lg"></a>
            </div>
        </form>
        {% endfor %}
        <a 
            hx-get="{{ url_for('nature.list_natures') }}" 
            class="btn btn-primary col-6 mx-auto"
            data-bs-toggle="modal" 
            
            hx-target="#natures-manager"
        >Gerenciar Naturezas</a>
    </div>

    <div id="natures-manager"></div>

</div>


{% endblock %}