{% extends 'index.html' %}

{% block content %}

<div class="container-fluid mt-2" id="nature-list">

    <div class="row col-12 col-md-4 col-lg-4 p-2 rounde border shadow">
        <h3 class="text-start ms-4 h5 mb-3 mt-1">Naturezas</h3>
        <ul class="list-group">
            {% for nature in natures %}
            <li class="list-group-item">
                <div class="col-11 form-floating mx-auto"
                    style="display: flex;justify-content: space-between;align-items: center;">
                    <span>{{ nature.name_nature }}</span>
                    <div>
                        <a 
                            hx-get="{{ url_for('nature.edit_nature', id_nature=nature.id) }}"
                            hx-target="#modal-content"
                            data-bs-toggle="modal" data-bs-target="#nature-modal" 
                            class="btn btn-primary bi bi-pencil-square"></a>
                        <a 
                            hx-get="{{ url_for('nature.warning_nature', id_nature=nature.id) }}"
                            hx-target="#modal-content" data-bs-toggle="modal" data-bs-target="#nature-modal"
                            class="btn btn-danger bi bi-x-lg"></a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a hx-get="{{ url_for('nature.render_form') }}" class="btn btn-primary mt-3 col-6 mx-auto"
            hx-target="#modal-content" data-bs-toggle="modal" data-bs-target="#nature-modal">
            Adicionar Natureza
        </a>
    </div>
</div>

<div class="modal fade" id="nature-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modal-content"></div>
        </div>
    </div>
</div>

{% endblock %}